################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BorwellChallenge1/.vs/BorwellChallenge1/v16
